.action {
    z-index: 100;
    position: absolute;
    color: #eee;
    background: none;
    border: none;
    padding: 0;
    transition: all .1s;
}

.action:hover {
    color: white;
}

.drag-window {
    -webkit-app-region: drag;
    top: 40px;
    left: 10px;
}

.hide-window {
    top: -5px;
    left: 8px;
    font-size: 50px;
    color: #e95959;
}

.hide-window:hover {
    color: #ee7c7c;
}
