.emoji-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    top: var(--header-height);
    max-height: calc(100% - var(--header-height));
    position: absolute;
    overflow: auto;
}

.emojis {
    border-collapse: collapse;
    width: 100%;
}

.emoji {
    cursor: pointer;
    border-bottom: 1px solid #aaa;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all .1s;
    display: flex;
    align-items: center;
}
.emoji:last-of-type {
    border: none;
}

.emoji:hover,
.emoji.highlighted {
    background-color: white;
    box-shadow: 10px 10px 10px rgba(168, 182, 191, 0.6);
}

.emoji-emoji {
    font-size: 10vw;
    margin-right: 10px;
    display: inline-block;
    min-width: 18vw;
    text-align: center;
}

.emoji-keyword {
    font-size: 75%;
    display: block;
    padding-top: 10px;
    text-overflow: ellipsis;
    word-break: break-all;
}

.emoji-keyword::before {
    content: "→ ";
}

.emoji td {
    padding: 10px 0;
    margin: 10px 0;
}

.emoji-description {
    color: #888;
}
