header {
    background-color: var(--blue);
    color: white;
    position: relative;
    height: var(--header-height);
    line-height: var(--header-height);
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

header.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

h1 {
    top: 0;
    opacity: 1;
    margin: 0;
    position: absolute;
    transition: all .2s;
    font-size: 50px;
    display: inline-block;
    right: 50%;
    transform: translateX(50%);
}

.header-search {
    background-color: transparent;
    color: white;
    border: none;
    display: block;
    font-family: var(--fonts);
    font-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: 5vw;
    opacity: 0;
}

.header-search::selection {
    background-color: rgba(255, 255, 255, 0.6);
}

.header-search:focus,
.header-search:valid {
    opacity: 1;
}
.header-search:focus + h1,
.header-search:valid + h1 {
    top: -20px;
    font-size: 20px;
    right: 15px;
    transform: translateX(0%);
}

.move-window {
    -webkit-app-region: drag;
    position: relative;
    left: 10px;
    top: -10px;
}
