* {
    box-sizing: border-box;
    outline: none;
}

html {
    background-color: #f5f5f5;
    --fonts: "Segoe UI", "Open Sans", sans-serif;
    --mono-fonts: "Inconsolata", "consolas", "menlo", monospace;
    font-family: var(--fonts);
    --header-height: 75px;
}

body {
    margin: 0;
    overflow: hidden;
}

code {
    font-family: var(--mono-fonts);
}

h1 {
    text-align: center;
}
