.settings-window {
    position: absolute;
    z-index: 50;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px #aaa;
    transform: translateY(100%);
    transition: all .5s;
}

.settings-window.active {
    transform: translateY(0);
}

.settings-window .container {
    max-width: 450px;
    margin: auto;
    padding: 10px;
}

.settings {
    width: 100%;
    border-collapse: collapse;
}

.setting:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}
.setting td {
    padding: 20px 0;
}

.settings-shortcut {
    font-family: var(--mono-fonts);
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    transition: all .3s;
}

.settings-shortcut:focus {
    border-bottom-color: var(--blue);
}

.settings td:last-child {
    padding-right: 10px;
    text-align: center;
}

.settings input[type=number] {
    display: inline-block;
    width: 50px;
    background: none;
    font-family: var(--mono-fonts);
    border: none;
    background-color: #eee;
    padding: 8px 5px;
    border-radius: 5px;
}

.settings input[type=number]:disabled {
    background-color: #f5f5f5;
    color: #999;
}
