.settings-window {
    position: absolute;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px #aaa;
}

.settings-window .container {
    max-width: 400px;
    margin: auto;
    padding: 10px;
}

.settings {
    width: 100%;
    border-collapse: collapse;
}

.setting:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}
.setting td {
    padding: 20px 0;
}

.settings-shortcut {
    font-family: var(--mono-fonts);
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    transition: all .3s;
}

.settings-shortcut:focus {
    border-bottom-color: var(--blue);
}

.setting td:first-child {
    width: 100%;

}

.settings td:last-child {
    padding-right: 10px;
    text-align: center;
}
